# These are retrieved from your project at app.tina.io
NEXT_PUBLIC_TINA_CLIENT_ID=3605e51c-5ef9-4cbb-8654-d1090c4c47ca
TINA_TOKEN=***

# This is set by default CI with Netlify/Vercel/Github, but can be overriden
NEXT_PUBLIC_TINA_BRANCH=***
# To see the preview functionality
VERCEL_ENV=preview